.card-profileheader {
  height: 150px !important;
  border: 1;
}

.card-containerpersonal {
  height: 400px !important;
}

.card-body {
  padding-top: 10px;
}

.card-personal {
  margin-left: 0px;
  margin-bottom: 50px;
}

.button-container {
  position: absolute;
  margin-top: 50px;
  right: 10px;
  width: 180px;
  height: 40px;
  float: left;
}

.button-header {
  position: absolute;
  bottom: 80px;
  right: 10px;
  width: 250px;
  height: 40px;
  float: left;
}

/* media queries */

@media (max-width: 767px) {
  .heading {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .heading {
    text-align: left;
  }
}